body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}



/* for line graph */
.chart-container {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}




.all {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 50px;
}

.section {
    width: 80vw;
    display: flex;
    background-color: #F3F3F3;
    margin-bottom: 20px;
    border-radius: 20px;
    padding: 30px;
}

.todayStat {
    flex-direction: row;
}

.todayStatDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.todayStatDiv p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.column {
    flex-direction: column;
}

#caloriesTop {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#exerciseTop {
    display: flex;
    flex-direction: row;
}

#exerciseTop p {
    width: 90vw;
}

#chooseExDisplay {
    width: 10vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#weightTop {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.weightSections {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    margin-top: 5px;
}

#bmiNum {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

#bmiStatus {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding: 10px 25px 10px 25px;
}

.greenBMI {
    background-color: #D6FFDD;
}

.orangeBMI {
    background-color: orange;
}

.blueBMI {
    background-color: rgb(79, 189, 244);
}

.yellowBMI {
    background-color: yellow;
}

.redBMI {
    background-color: red;
}

#bmiDisplay {
    background-color: white;
    border-radius: 20px;
}




/* code for the gradient bar */
#btn {
    display: block;
    margin: 0 auto;
    position: relative;
    top: 45%;
    transform: translateY(-50%);
    font-family: "Segoe UI";
    font-size: 20px;
    padding: 8px 20px;
    color: black;
    background-color: transparent;
    border: 1px solid black
}

#progress-bar-container {
    width: 75vw;
    height: 15px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 35px;
    overflow: hidden;
}

.progress-bar-child {
    width: 100%;
    height: 100%;
}

.progress {
    color: white;
    text-align: center;
    line-height: 75px;
    font-size: 35px;
    font-family: "Segoe UI";
    animation-direction: reverse;
    background: #e5405e;

    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to left, #e5405e 0%, #ffdb3a 45%, #3fffa2 100%);
}

.shrinker {
    background-color: black;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
}

.timelapse {
    animation-name: timelapse;
    animation-fill-mode: forwards;
    animation-duration: 0s;
    animation-timing-function: cubic-bezier(.86, .05, .4, .96);
}

@keyframes timelapse {
    0% {
        width: 100%;
    }

    100% {
        width: 0%;
    }
}


/* for range slider for bmi */
#range1 {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    border-radius: 16px;
    margin-bottom: 10px;
}

#range1::-webkit-slider-runnable-track {
    height: 15px;
    background: white;
    border-radius: 16px;
}

#range1::-moz-range-track {
    height: 15px;
    background: white;
    border-radius: 16px;
}

#range1::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 15px;
    width: 15px;
    background-color: black;
    border-radius: 50%;
    border: none;
    /* border: 2px solid #f50; */
    /* box-shadow: -407px 0 0 400px #f50; */
}

#range1::-moz-range-thumb {
    height: 15px;
    width: 15px;
    background-color: black;
    border-radius: 50%;
    border: none;
    /* border: 1px solid white; */
    /* box-shadow: -407px 0 0 400px #f50; */
}