body {
    align-items: center;
    text-align: center;
}

.back-button {
    display: flex;
    align-items: center; /* Vertically center items */
    color:black;
}

.back-button i {
    margin-right: 10px; /* Add some space between the arrow and the text */
}


.yoga {
    display: flex;
    flex-direction: column; /* Stack the yoga poses vertically */
    align-items: center; /* Center the yoga poses horizontally */
    padding: 20px; /* Optional: Add padding for spacing */
}

/* Apply basic styling to the yoga-pose class */
.yoga-pose {
    display: flex;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    /* padding: 10px; */
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 400px; /* Set a maximum width for each div */
}

/* Style the image within the yoga-pose */
.yoga-pose img {
    width: 100px; /* Set a fixed width for the image */
    height: 100px; /* Set a fixed height for the image */
    object-fit: cover; /* Ensure the image covers the container */
    margin-right: 10px;
}

/* Style the container for pose name and duration */
.pose-info {
    width:80%;
    flex-grow: 1;
    display: flex; /* Use flexbox to align pose name and duration vertically */
    flex-direction: column; /* Stack them in a column */
    justify-content: center; /* Vertically center the content */
    margin: 3px;
    padding: 2px;
    
}

/* Style the heading (pose name) within the yoga-pose */
.yoga-pose h2 {
    font-size: 16px;
    margin: 0; /* Remove default margin */
}

/* Style the paragraph (duration) within the yoga-pose */
.yoga-pose p {
    font-size: 14px;
    margin: 0;
    color: grey;
}

/* @media screen and (max-width: 1000px) {
    body {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      text-align: center;
      align-items: center;
    }
    img {
        width: 100%;
        text-align: center;
        align-items: center;
    }
  }
 */
